@import url('https://fonts.cdnfonts.com/css/bangers');
@import url('https://fonts.cdnfonts.com/css/literata');
body{
    background-color: var(--bg);
    background-image: url('./images/bg2\ 1\ 2.png');
    /* font-family: 'Bangers', sans-serif; */
    font-family: 'Literata', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--lightText);
    margin: 0;
    padding: 0;
}